<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="Custom" customProvider="RedisSessionState" xdt:Transform="Insert">
      <providers>
        <add name="RedisSessionState" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="chudinov.redis.cache.windows.net" ssl="true" port="6380" databaseId="0" applicationName="AspCacheRedis" accessKey="rhbFOmI8wM8PK5s5Ec0Hg1LvXJaN29jsVRnIZSXt1fM=" />
      </providers>
    </sessionState>
  </system.web>
</configuration>