<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="Custom" customProvider="RedisSessionState" xdt:Transform="Insert">
      <providers>
        <add name="RedisSessionState" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="digiredis-test.knf4uk.0001.euw1.cache.amazonaws.com" ssl="false" port="6379" databaseId="0" applicationName="AccessRemakeTest" accessKey="" />
      </providers>
    </sessionState>
  </system.web>
</configuration>